<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="11201"
    android:versionName="1.12.01"
    >



    <uses-feature android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>


    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />



    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:mimeType="*/*"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND"/>
            <data android:mimeType="*/*"/>
        </intent>
    </queries>


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/application_name"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/MyLightBaseTheme"
        tools:node="replace">

        <meta-data
            android:name="svl.kadatha.filex.GlideConfiguration"
            android:value="GlideModule" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ArchiveDeletePasteProgressActivity1"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:theme="@style/MyLightDialog" />

        <activity
            android:name=".ArchiveDeletePasteProgressActivity2"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:theme="@style/MyLightDialog" />

        <activity
            android:name=".ArchiveDeletePasteProgressActivity3"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:theme="@style/MyLightDialog" />

        <activity
            android:name=".FileEditorActivity"
            android:label="@string/text_editor"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PdfViewActivity"
            android:label="@string/pdf_viewer"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AudioPlayerActivity"
            android:label="@string/audio_player"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ImageViewActivity"
            android:label="@string/image_viewer"
            android:theme="@style/MyLightFullScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".VideoViewActivity"
            android:label="@string/video_player"
            android:theme="@style/MyLightFullScreen"
            android:configChanges="uiMode"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <activity android:name=".InstaCropperActivity" />

        <activity
            android:name=".FileSelectorActivity"
            android:label="@string/file_selector"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.OPENABLE"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".StorageAnalyserActivity"
            android:label="@string/analyse_storage"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".AppManagerActivity"
            android:label="@string/app_manager"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".CopyToActivity"
            android:label="@string/copy_to"
            android:exported="true"
            android:theme="@style/MyLightDialog">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ArchiveViewActivity"
            android:label="@string/archive_viewer"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/zip" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FtpServerActivity"
            android:label="@string/ftp_server"
            android:exported="true">
        </activity>

        <service
            android:name=".AudioPlayerService"
            android:exported="false" />
        <service
            android:name=".ArchiveDeletePasteFileService1"
            android:exported="false" />
        <service
            android:name=".ArchiveDeletePasteFileService2"
            android:exported="false" />
        <service
            android:name=".ArchiveDeletePasteFileService3"
            android:exported="false" />
        <service
            android:name=".FileSaveService1"
            android:exported="false" />
        <service
            android:name=".FileSaveService2"
            android:exported="false" />
        <service
            android:name=".FileSaveService3"
            android:exported="false" />
        <service
            android:name="svl.kadatha.filex.ftpserver.ftp.FsService"
            />
        <service android:name="svl.kadatha.filex.ftpserver.ftp.NsdService"/>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </provider>

        <provider
            android:name=".UsbDocumentProvider"
            android:authorities="svl.kadatha.filex.usbdocuments"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

    </application>

</manifest>